.main-component {
    display: flex;
    flex-direction: column;
    padding: 5em;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.heroes-view {
    flex: 1;
}

.model-view {
    width: 700px; // mis exprès en dur, pour matcher la taille de la visionneuse 3D
}

.title {
    display: flex;
    justify-content: center;
    color: white;
}