.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.heroes-view {
    flex-grow: 1;
    flex: 1;
}

.model-view {
    width: 700px; // mis exprès en dur, pour matcher la taille de la visionneuse 3D
}