<div>
    <div class="padding-bot" *ngIf="hero">
        <h1 class="label bold">{{ hero.localized_name }}</h1>
    </div>
    <div class="padding-bot" *ngIf="hero">
        <img src="{{base_api}}{{hero.img}}">
    </div>
    <div class="abilities-setup">
        <ng-container *ngIf="abilities$ | async; let abilities">
            <div *ngFor="let ability of abilities">
                <div>
                    <div>
                        <img src="{{base_api}}{{ability.informations.img}}" (click)="clickOnAbility(ability.normedName)">
                        <p class="label ability-name bold">{{ability.informations.dname}}</p>
                    </div>
                    <p class="label">{{ability.informations.desc}}</p>
                </div>
            </div>
        </ng-container>
    </div>
</div>
