.ability-setup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.hero-picture {
    display: flex;
    justify-content: center;
}

.ability-name {
    padding-left: 1em;
}

.padding-bot {
    padding-bottom: 2em;
}

.abilities-setup {
    display: flex;
    flex-direction: row;
}

.ability-case-size {
    width: 20em;
    margin: 2em;
}

.all-abilities {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}