<div class="heroes-list-row">
    <mat-form-field appearance="fill" *ngIf="(types$ | async); let types">
        <div>
            <mat-label class="label">Type d'attaque</mat-label>
            <mat-select [formControl]="typeForm">
                <mat-option *ngFor="let option of types" [value]="option">{{ option }}</mat-option>
            </mat-select>
        </div>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="(roles$ | async); let roles">
        <div>
            <mat-label class="label">Rôles</mat-label>
            <mat-select [formControl]="roleForm">
                <mat-option *ngFor="let option of roles" [value]="option">{{ option }}</mat-option>
            </mat-select>
        </div>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="(attribute$ | async); let attributes">
        <div>
            <mat-label class="label">Attributs</mat-label>
            <mat-select [formControl]="attributeForm">
                <mat-option *ngFor="let option of attributes" [value]="option">{{ option }}</mat-option>
            </mat-select>
        </div>
    </mat-form-field>
</div>

<div class="heroes-list-row">
    <div *ngFor="let item of (heroesSubject$ | async)" class="tooltip">
        <a routerLink="/{{item.name}}/idle" routerLinkActive="active">
            <img class="icon" src="{{base_api}}{{item.icon}}" (click)="onClick(item)" />
        </a>
        <span class="tooltiptext">{{item.localized_name}}</span>
    </div>
</div>