.heroes-list-column {
    display: flex;
    flex-direction: column;
}

.heroes-list-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icon {
    height: 50px;
    width: 50px;
}

