@import "~@angular/material/theming";

.background {
    background-color: #211f1f;
}

html {
    background: -webkit-gradient(linear, top, bottom, from(#211f1f), to(#211f1f));
    background: -webkit-linear-gradient(#211f1f, #211f1f);
    background: -moz-linear-gradient(#211f1f, #211f1f);
    background: -ms-linear-gradient(#211f1f, #211f1f);
    background: -o-linear-gradient(#211f1f, #211f1f);
    background: linear-gradient(#211f1f, #211f1f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003399',  
        endColorstr='#6699cc');
}

.label {
    color: white;
}

.bold {
    font-weight: bold;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}